<div class="background-footer" >
  <footer>
    <div class="row">
      <div class="contact">
        <ul class="contact-list">
          <li>
            <p>
              UX Academy is evangelist company.
              We focusing on User Experience design and use understanding
              by the variety of method ex. User Research,
              User Interview, Usability Testing, Data Analytic.
              Our service is Training, Coaching and Consultant.
            </p>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> kaewkanya@uxacademy.in.th
            </a>
          </li>
        </ul>
      </div>

      <div>
        <ul class="social-media-list">
          <li>
            <a href="http://blog.uxacademy.in.th/">
              <i class="fa fa-rss"></i>
              <span class="username">blog.uxacademy.in.th</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/uxacademy">
              <i class="fa fa-github-square"></i>
              <span class="username">uxacademy</span>
            </a>
          </li>

          <li>
            <a href="https://facebook.com/groups/ux.in.th">
              <i class="fa fa-facebook-square"></i>
              <span class="username">Group: groups/ux.in.th</span>
            </a>
          </li>

          <li>
            <a href="https://facebook.com/uxacademy.th">
              <i class="fa fa-facebook-square"></i>
              <span class="username">Page: uxacademy.th</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="description">
        <%= render 'shared/facebook_page_plugin' %>
      </div>
    </div>
  </footer>
</div>
