<div class="ticket-row">
  <div class="name">
    <%= name %>
  </div>
  <div class="price">
    <%= number_to_currency(price, :unit => "฿ ") %>
  </div>
  <div class="avaliable">
    <%= f.select ticket,
      options_for_select(
        (0..avaliable).each { |n|
          [n,n]
        }, 0) %>
  </div>
  <div class="description">
    <%= description %>
  </div>
</div>
