<div class="event">

  <div id="banner" class="ui">
    <div class="banner-content">
      <div class="banner-text">
        <h1>Speed, UI Workshop</h1>
        <h4>strategic design to make user happiest</h4>
      </div>
    </div>
  </div>

  <div class="event-detail">
    <div class="text-content">
      <%= raw @event.course_description %>
    </div>
  </div>

  <div class="gallery">
    &nbsp;
    <%= raw @event.course_gallery %>
    &nbsp;
  </div>

  <div class="event-detail">
    <div class="text-content">
      <%= raw @event.course_description_2 %>
    </div>
  </div>

  <div class="event-detail">
    <div class="event-ticket">
      <h2>Ticket</h2>
      <%= render "tickets", order: @order %>
    </div>
  </div>

  <div class="event-detail last">
    <div class="text-content">
      มีปัญหาในการจองบัตร ติดต่อ 093-236-0009 (10:00-18:00)
    </div>
  </div>
</div>
