<div class="ticket-row">
  <div class="name">
    <%= name %>
  </div>
  <div class="price">
    <%= number_to_currency(price, :unit => "฿ ") %>
  </div>
  <div class="avaliable">
    <%= f.select method,
      options_for_select((0..avaliable).each { |n| [n,n] },
      avaliable) %>
  </div>
  <div class="description">
    <%= description %>
  </div>
</div>
