<div class="order">
  <div class="banner"></div>
  <header class="post-header">
    <div class="content">
      <h1>Payment</h1>
    </div>
  </header>

  <div class="new-order">
    <div class="content">
      <form name="checkoutForm" method="POST" action="checkout.php">
        <button type="submit" id="checkout-button-1">My Checkout Button !</button>
      </form>

      <br/>
      or<br/>
      <br/>

      Contact Kaewkanya@gmail.com when you compleate transfer money
    </div>
  </div>

</div>

<%= javascript_include_tag 'https://cdn.omise.co/omise.js' %>

<script>
  OmiseCard.configure({
    publicKey: 'YOUR_PUBLIC_KEY',
    image: 'https://c1.staticflickr.com/5/4220/34090378444_fc5b319741_t.jpg',
    amount: 99500
  });

  OmiseCard.configureButton('#checkout-button-1', {
    frameLabel: 'UX Academy',
    submitLabel: 'PAY NOW :'
  });

  OmiseCard.attach();
</script>
