.event {
  #banner {
    &.ui {
      background-image: image-url('banner_ui.jpg');
    }
    &.ux {
      background-image: image-url('banner_ux.jpg');
    }
    .banner-content{
      .banner-text{
        h1{
          text-align: center;
          padding: 0px 0px 0px 0px;
          @include media-query($on-palm) {
            text-align: left;
            padding: 0px 0px 0px 15px;
          }
        }
      }
    }
  }

  .hilight {
    color: #ce0000;
  }

  .event-detail {
    @extend .container;
    h1 {
      margin-top: 50px;
      padding-bottom: 20px;
    }
    .text-content {
      padding-top: 50px;
      @extend .col-md-10;
      @extend .col-md-offset-1;
      h1:first-child {
        margin-top: 0px;
      }
    }
    .image-one {
      @extend .col-md-6;
      @extend .col-xs-12;
      img {
        width: 100%;
      }
      &.large {
        @extend .col-md-12;
      }
    }
    &.last {
      padding-bottom: 50px;
    }

    @include media-query($on-palm) {
      h1 {
        font-size: 25px;
      }
      .text-content {
        padding-top: 20px;
      }
      .avaliable {
        padding-top: 25px;
        padding-bottom: 10px;
      }
      .note {
        padding-bottom: 20px;
        padding-top: 10px;
      }
    }
  }

  .gallery {
    @extend .container;
    .preview {
      @extend .col-md-4;
      img {
        width: 100%;
      }
    }
    @include media-query($on-palm) {
      .preview.best {
        display:block;
      }
      .preview {
        display:none;
      }
      .row {
        padding: 0px 15px 0px 15px;
      }
    }
  }

  .submit {
    @extend .col-md-3;
    @extend .col-xs-12;
    button {
      width: 100%;
    }
  }

  .event-ticket {
    padding-top: 50px;
    @extend .col-md-10;
    @extend .col-md-offset-1;

    .ticket-row {
      @extend .row;
      border-top: 2px solid #CCC;
      padding-top: 20px;
      margin-top: 20px;
    }
    .name {
      @extend .col-md-6;
      @extend .col-xs-6;
      font-weight: bold;
    }
    .price {
      @extend .col-md-3;
      @extend .col-xs-6;
      font-weight: bold;
      text-align: right;
    }
    .avaliable {
      @extend .col-md-3;
      text-align: right;
      select {
        @extend .form-control;
      }
    }
    .description {
      @extend .col-md-12;
      font-size: 12px;
      padding-top: 5px;
    }
    .note {
      @extend .col-md-9;
      font-size: 12px;
    }
    .submit {
      color: white;
      a {
        @extend .col-md-3;
        @extend .col-xs-12;
        @extend .btn;
        @extend .btn-success;
      }
    }
    @include media-query($on-palm) {
      .avaliable {
        text-align: left;
      }
    }
  }

}
