.event {
  #banner {
    &.ui {
      background-image: image-url('banner_ui.jpg');
    }
    &.ux {
      background-image: image-url('banner_ux.jpg');
    }
    .banner-content{
      .banner-text{
        h1{
          text-align: center;
          padding: 0px 0px 0px 0px;
          @include media-query($on-palm) {
            text-align: left;
            padding: 0px 0px 0px 15px;
          }
        }
      }
    }
  }

  .hilight {
    color: #ce0000;
  }

  .event-detail {
    @extend .container;
    .text-content {
      padding-top: 50px;
      @extend .col-md-10;
      @extend .col-md-offset-1;
    }

    .ticket {
      padding-top: 50px;
      @extend .col-md-10;
      @extend .col-md-offset-1;
      .ticket-row {
        @extend .row;
        border-top: 2px solid #CCC;
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .name {
        @extend .col-md-6;
        @extend .col-xs-6;
        font-weight: bold;
      }
      .price {
        @extend .col-md-3;
        @extend .col-xs-6;
        font-weight: bold;
        text-align: right;
      }
      .avaliable {
        @extend .col-md-3;
        text-align: right;
        select {
          @extend .form-control;
        }
      }
      .description {
        @extend .col-md-12;
        font-size: 20px;
      }
      .note {
        @extend .col-md-9;
        font-size: 20px;
      }
      .submit {
        @extend .col-md-3;
        a.new-order {
          @extend .form-control;
          @extend .btn;
          @extend .btn-success;
        }
      }
      @include media-query($on-palm) {
        .avaliable {
          text-align: left;
        }
      }
    }

    @include media-query($on-palm) {
      .text-content {
        padding-top: 20px;
      }
    }
    img {
      width: 300px;
    }
    &.last {
      padding-bottom: 50px;
    }
  }

  .gallery {
    @extend .container;
    .preview {
      @extend .col-md-4;
      img {
        width: 100%;
      }
    }
    @include media-query($on-palm) {
      .preview.best {
        display:block;
      }
      .preview {
        display:none;
      }
    }
  }


}
