.order-ticket {
  .ticket-row {
    @extend .row;
    border-bottom: 2px solid #CCC;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .name {
    @extend .col-md-6;
    @extend .col-xs-6;
    font-weight: bold;
  }
  .price {
    @extend .col-md-3;
    @extend .col-xs-4;
    text-align: right;
  }
  .avaliable {
    @extend .col-md-3;
    @extend .col-xs-2;
    text-align: right;
    select {
      @extend .form-control;
    }
  }
  .total {
    @extend .col-md-6;
    @extend .col-xs-6;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
  }
  .description {
    @extend .col-md-12;
    font-size: 12px;
    padding-top: 20px;
    color: $grey-color-light;
  }
  .summary {
    @extend .row;
    margin-top: 10px;
  }
  .note {
    @extend .col-md-9;
    font-size: 12px;
  }
  .submit {
    color: white;
    a {
      @extend .col-md-3;
      @extend .col-xs-12;
      @extend .btn;
      @extend .btn-success;
    }
  }
  @include media-query($on-palm) {
    .avaliable {
      text-align: left;
    }
  }
}
