.ticket {
  padding-top: 50px;
  @extend .col-md-10;
  @extend .col-md-offset-1;
}

.ticket-create {
  .submit {
    display: none;
  }
  .note {
    display: none;
  }
}

.ticket, .order {
  .ticket-row {
    @extend .row;
    border-top: 2px solid #CCC;
    padding-top: 20px;
    margin-top: 20px;
  }
  .name {
    @extend .col-md-6;
    @extend .col-xs-6;
    font-weight: bold;
  }
  .price {
    @extend .col-md-3;
    @extend .col-xs-6;
    font-weight: bold;
    text-align: right;
  }
  .avaliable {
    @extend .col-md-3;
    text-align: right;
    select {
      @extend .form-control;
    }
  }
  .description {
    @extend .col-md-12;
    font-size: 12px;
    padding-top: 5px;
  }
  .note {
    @extend .col-md-9;
    font-size: 12px;
  }
  .submit {
    color: white;
    a {
      @extend .col-md-3;
      @extend .col-xs-12;
      @extend .btn;
      @extend .btn-success;
    }
  }
  @include media-query($on-palm) {
    .avaliable {
      text-align: left;
    }
  }
}
