@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "owl.carousel";
@import "owl.theme";

$base-font-family: 'THSarabunNew', sans-serif;
$base-font-size:   150%;

$small-font-size:  1em;
$big-font-size:    1.3em;
$large-font-size:  2.8em;

$big-font-size-mobile: 1em;
$large-font-size-mobile: 1.8em;

$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$text-bold-color:  #4791E5; //blue
$text-highlight-color: #2D4D78;
$text-highlight-background-color: #AED1FF;
$text-highlight-color-on-dark: #FFFFFF;
$text-highlight-background-color-on-dark: #5595DE;

$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$text-color-light: #fff;
$text-color-soft:  transparentize($text-color-light, 0.5);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          767px;
$on-laptop:        970px;
$nav-height:       50px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "mixin";
@import "font";
@import "base";
@import "layout";
@import "home";
@import "footer";
@import "syntax-highlighting";
@import "table";
@import "events";
@import "order";
@import "order-table";
